    <%- include("header.ejs", {title:"Home"}) %>
    <div class="container-fluid">
      <div class="row mt-5">
        <form action="/" method="POST">
          <div class="form-group">
            <div class="col col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
              <label for="registername">Ingrese su nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" name="registername">
              <label for="registersurname">Ingrese su apellido</label>
              <input type="text" class="form-control" placeholder="Apellido" name="registersurname">
               <label for="location">Provincia</label>
              <select class="form-control" name="location">
                <option>Buenos Aires</option>
                <option>Córdoba</option>
                <option>Tucumán</option>
              </select>
              <label for="dni">DNI</label>
              <input type="text" class="form-control" placeholder="Ingrese su DNI" name="dni">
                <button type="submit" class="btn btn-primary">Registrar</button>
              </div>
            </div>
          </div>  
        </form>
      </div>
    </div>
    <%- include("footer.ejs") %>

